<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.joj.problem.problem.mapper.ProblemMapper">

    <resultMap id="ProblemResultMap" type="com.joj.common.core.model.entity.Problem">
        <id property="id" column="id"/>

        <result property="title" column="title"/>
        <result property="content" column="content"/>

        <result property="inputDesc" column="input_desc"/>
        <result property="outputDesc" column="output_desc"/>

        <result property="samples" column="samples" typeHandler="com.joj.common.web.handler.mybatis.SampleListTypeHandler"/>

        <result property="timeLimit" column="time_limit"/>
        <result property="memoryLimit" column="memory_limit"/>

        <result property="submitCount" column="submit_count"/>
        <result property="acceptedCount" column="accepted_count"/>

        <result property="tags" column="tags" typeHandler="com.joj.common.web.handler.mybatis.StringListTypeHandler"/>

        <result property="source" column="source" typeHandler="com.joj.common.web.handler.mybatis.StringListTypeHandler"/>

        <result property="creatorId" column="creator_id"/>
        <result property="status" column="status"/>

        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>

        <result property="isDelete" column="is_delete"/>
    </resultMap>

    <sql id="BaseColumnList">
        id
        ,
        title,
        content,
        input_desc,
        output_desc,
        samples,
        time_limit,
        memory_limit,
        submit_count,
        accepted_count,
        tags,
        source,
        creator_id,
        status,
        create_time,
        update_time,
        is_delete
    </sql>

    <!--    增-->
    <insert id="insert" parameterType="com.joj.common.core.model.entity.Problem" useGeneratedKeys="true" keyProperty="id">
        insert into problem (title,
                             content,
                             input_desc,
                             output_desc,
                             samples,
                             time_limit,
                             memory_limit,
                             submit_count,
                             accepted_count,
                             tags,
                             source,
                             creator_id,
                             status,
                             create_time,
                             update_time,
                             is_delete)
        values (#{title},
                #{content},
                #{inputDesc},
                #{outputDesc},
                #{samples, typeHandler=com.joj.common.web.handler.mybatis.SampleListTypeHandler},
                #{timeLimit},
                #{memoryLimit},
                #{submitCount},
                #{acceptedCount},
                #{tags, typeHandler=com.joj.common.web.handler.mybatis.StringListTypeHandler},
                #{source, typeHandler=com.joj.common.web.handler.mybatis.StringListTypeHandler},
                #{creatorId},
                #{status},
                now(),
                now(),
                #{isDelete})
    </insert>

    <!--    删-->
    <update id="deleteById">
        update problem
        set is_delete   = 1,
            update_time = now()
        where id = #{id}
          and is_delete = 0
    </update>

    <!--    改-->
    <update id="updateById" parameterType="com.joj.common.core.model.entity.Problem">
        update problem
        <set>
            <if test="title != null">title = #{title},</if>
            <if test="content != null">content = #{content},</if>
            <if test="inputDesc != null">input_desc = #{inputDesc},</if>
            <if test="outputDesc != null">output_desc = #{outputDesc},</if>
            <if test="samples != null">samples = #{samples, typeHandler=com.joj.common.web.handler.mybatis.SampleListTypeHandler},</if>
            <if test="timeLimit != null">time_limit = #{timeLimit},</if>
            <if test="memoryLimit != null">memory_limit = #{memoryLimit},</if>
            <if test="submitCount != null">submit_count = #{submitCount},</if>
            <if test="acceptedCount != null">accepted_count = #{acceptedCount},</if>
            <if test="tags != null">tags = #{tags, typeHandler=com.joj.common.web.handler.mybatis.StringListTypeHandler},</if>
            <if test="source != null">source = #{source, typeHandler=com.joj.common.web.handler.mybatis.StringListTypeHandler},</if>
            <if test="creatorId != null">creator_id = #{creatorId},</if>
            <if test="status != null">status = #{status},</if>
            <if test="isDelete != null">is_delete = #{isDelete},</if>
            update_time = now()
        </set>
        where id = #{id} and is_delete = 0
    </update>

    <update id="incrementSubmitCount">
        update problem
        set submit_count = submit_count + 1,
            update_time  = now()
        where id = #{id}
          and is_delete = 0
    </update>

    <update id="incrementAcceptedCount">
        update problem
        set accepted_count = accepted_count + 1,
            update_time    = now()
        where id = #{id}
          and is_delete = 0
    </update>

    <!--    查-->
    <select id="findById" resultMap="ProblemResultMap">
        select
        <include refid="BaseColumnList"/>
        from problem
        where id = #{id} and is_delete = 0
    </select>

    <select id="selectProblemPageByStatus" resultMap="ProblemResultMap">
        select
        <include refid="BaseColumnList"/>
        from problem
        where is_delete = 0
        <if test="isAdmin == null or isAdmin == false">
            and status = 1
        </if>
        order by id asc limit #{offset}, #{limit}
    </select>

    <select id="total" resultType="java.lang.Integer">
        select count(*)
        from problem
        where is_delete = 0
        <if test="isAdmin == null or isAdmin == false">
            and status = 1
        </if>
    </select>

</mapper>